body {
    background: url('@Url.Content("~/images/stripes-light.png")') ;                    
}
#Login {
    position: absolute;
    left: 40%;
    top: 40%;
    border: 1px solid #ccc;
    padding: 10px 10px;
    text-align: center;
}