 @media only screen and (max-width: 900px) {
      .user {             
          width: 35vw !important;
          height: 35vw !important;    
      }            
      h6 {
          font-size: 8vw !important;
      }
      p {
          margin: 3%;
      }
      label {
          font-size: 3vw;
      }
  }
 .user {
     display: inline-block;
     width: 13vw;
     height: 13vw;
     border-radius: 50%;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }
 .one {
     background-image: url(../images/opiekunknna_contact.jpg);
     margin: 5% 0;
 }
.two {
    background-image: url(../images/B_Drzymala.jpg);
    margin: 5% 0;
}
.three {
    background-image: url(../images/A_Waryszak.jpg);
    margin: 5% 0;
}
.four {
    background-image: url(../images/D_Kuraszewicz.jpg);
    margin: 5% 0;
}
.five {
    background-image: url(../images/P_Kubic.jpg);
    margin: 5% 0;
}
.six {
    background-image: url(../images/K_Malek.jpg);
     margin: 5% 0;
}
 #grid {
     background-color: #F9F9F9;
     
 }
    #grid:hover {
        background-color: #FCFCFC;
        transform: scale(1.05);
        transition: 0.4s;
    } 
 p {
     font-size: 1.15em;
 }
header {
    background-color: #EEEEEE;
}
.pheader {
    padding: 10%;
}