hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C0C0;
    border-style: solid none;
    margin: 2% 0;
    width: 80%;
}
h6 {
    margin-top: 2%;
    font-size: 4vw;
    color: #313b48;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

@media(max-width: 1000px) {
    h6 { font-size: 8vw; }

    p {
        font-size: 2.8vw !important; 
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 10%!important;

    }
}
    .item2 {
        grid-area: menu;
    }

    .item3 {
        grid-area: main;
        font-size: 3vw;
    }
    h6 {
        margin-top: 7%;
    }

p {
    font-size: 2.2vw;
    margin-bottom: 3%;
    margin-top: 6%;
    color: dimgray;
}
    #img-item2 { width: 100%; }
    .center {
        margin: auto;
    }