
.item2 {
       grid-area: menu;
   }

.item3 {
    grid-area: main;
    font-size: 3vw;
}

   .grid-container {
       display: grid;
       grid-template-areas: 'menu menu main main main main' 'menu menu main main main main';
       padding: 10px;
   }
   h6 {
       margin-top: 7%;
   }
   p {
       font-size: 2.2vw;
       padding: 8% 5%;
   }
   .grid-container > div {
      
       text-align: center;
       padding: 20px 0;
       font-size: 30px;
   }
   .center {
       margin: auto;
   }
   #img-item2 {
       width: 45vw;
   }
   