body {
    background-image: linear-gradient(white 10%, #CDCDCD 220%)
}
 p {
     margin-right: 10%;
     margin-left: 10%;
     margin-bottom: 1%;
     margin-top: 1%;
     color: dimgray;
     position: relative;
     font-size: 2em;          
 }
.p-lighting {
    font-size: 3vw;
}
.img-logoTiles {
    width: 5.5vw;
    height: 7vw;
    margin-top: 5%;
}
.media-body{
    margin-top:1%;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C0C0C0;
    border-style: solid none;
    margin: 2% 0;
    width: 80%;
}
h6 {
    margin-top: 2%;
    font-size: 4vw;
    color: #313b48;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
@media(max-width: 1000px) {
    h6 {
        font-size: 6.5vw;
    }

    p {
        font-size: 3.5vw !important;
    }
    .list-unstyled {
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .img-logoTiles {
        width: 8.5vw!important;
        height: 10vw !important;
        margin-top: 30%!important;
    }
}