.tile {
    background: #E8E8E8;
    border-radius: 10px;
    width: auto;
    height: 100px;
    text-align: center;
    margin: 15px;
}

.backeffect {
    box-shadow: 0 1px 3px #404040;
    -moz-box-shadow: 0 1px 3px #404040;
    -webkit-box-shadow: 0 1px 3px #404040;
    transition: box-shadow 0.2s;
    -moz-transition: -moz-box-shadow 0.2s;
    -webkit-transition: -webkit-box-shadow 0.2s;
}

.backeffect:hover {
    box-shadow: 0 1px 13px #787878;
    -moz-box-shadow: 0 1px 13px #787878;
    -webkit-box-shadow: 0 1px 13px #787878;
    filter: brightness(90%);
}

.label1 {
    margin: 40px;
}

a {
    color: black;
}
